@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono-dm {
  font-family: var(--font-dm-mono), monospace;
}
